body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle, #16162c, #111d3b, #17355a);
  font-family: Arial, sans-serif;
  color: #f2f3f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

.dashboard-card {
  max-width: 1100px;
  min-height: 85vh;
  margin: auto;
  padding: 25px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.04);
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}
.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(31, 1, 65, 0.247);
}
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-card {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
.section-card:hover {
  box-shadow: 0 0 15px #2a3cff;
}
.popup-card {
  display: none;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.course-card {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);
}
button {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #04003b, #160961);
  color: white;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 0 10px #2a3cff, 0 0 20px #160961;
}
.close-btn {
  background: #500;
}
